/*
This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.

You should have received a copy of the GNU General Public License along with this program. If not, see http://www.gnu.org/licenses/.
*/

@font-face {
	font-family: 'Segoe';
	src: url('chrome-extension://__MSG_@@extension_id__/fonts/segoe-ui-webfont.woff') format('woff'),
		url('chrome-extension://__MSG_@@extension_id__/fonts/segoe-ui-webfont.ttf')  format('truetype'),
		url('chrome-extension://__MSG_@@extension_id__/fonts/segoe-ui-webfont.svg') format('svg');
}

.mdl-links:nth-child(3):after {
  content: '| MetroDeck 1.4';
}

/* Updated sprites */

.sprite {
	background-image: url("chrome-extension://__MSG_@@extension_id__/img/td_sprite_sheet_1x.png") !important;
}

@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
	.sprite {
		background-image: url("chrome-extension://__MSG_@@extension_id__/img/td_sprite_sheet_2x.png");
	}
}

/* Metro alerts */

.metroalert {
	position: absolute;
	left: 0px;
	right: 0px;
	top: 40%;
	padding: 10px;
	z-index: 999;
}

.metroalert table {
	width: 100%;
}